.custom-footer {
    padding-top: 15px;
    .footer-link {
        width: 9.33333rem;
        margin: 0 auto;
        height: .74667rem;
        display: block
    }
    .footer-link a {
        float: left;
        margin-right: .13333rem
    }
    .footer-link a:last-child {
        margin-right: 0
    }
    .footer-link img {
        width: 2.98667rem;
        height: auto;
        display: block
    }
    .footer-info {
        margin-top: 15px;
        color: #000;
        text-align: center;
        font-size: 10px;
        line-height: 20px
    }
}